<%= stylesheet_link_tag "accounts" %>

<div class="manager" id="accounts-manager">
  <h1>Accounts</h1>
  <div id="accounts"> 
    <ul id="accounts-list"></ul> 
  </div>
  <div id="create-account"> 
    <%= label_tag 'new-account-name', 'Create new account:' %>
    <%= text_field_tag 'new-account-name', nil, :class => 'new', :placeholder => 'New account name' %>
    <br />
    <%= label_tag 'new-account-name', 'Currency:' %>
    <%= select_tag 'new-account-currency', options_for_select(Account::VALID_CURRENCIES) %>
    <br />
    <%= submit_tag "Add", :id => "create-new-account" %>
  </div>
</div>